<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.springex.mapper.TodoMapper">
    <select id="getNow" resultType="string">
        SELECT NOW()
    </select>

    <insert id="insert">
        INSERT INTO TBL_TODO(title, dueDate, writer)
        VALUES (#{title}, #{dueDate}, #{writer})
    </insert>

    <select id="selectAll" resultType="org.zerock.springex.domain.TodoVO">
        SELECT * FROM TBL_TODO ORDER BY TNO DESC
    </select>

    <select id="selectOne" resultType="org.zerock.springex.domain.TodoVO">
        SELECT * FROM TBL_TODO WHERE TNO = #{tno}
    </select>

    <delete id="delete">
        DELETE FROM TBL_TODO WHERE TNO = #{tno}
    </delete>

    <update id="update">
        UPDATE TBL_TODO SET TITLE= #{title}
                            , dueDate = #{dueDate}
                            , finished = #{finished}
        WHERE TNO = #{tno}
    </update>

    <select id="getCount" resultType="int">
        SELECT COUNT(TNO) FROM TBL_TODO
        <include refid="search"></include>
    </select>

    <select id="selectList" resultType="org.zerock.springex.domain.TodoVO">
        SELECT * FROM TBL_TODO
        <include refid="search"></include>
        order by tno desc limit #{page}, #{size}
    </select>
    
    <sql id="search">
        <where>
            <if test="types != null and types.length > 0">
                <foreach collection="types" item="type" open="(" close=")" separator=" OR ">
                    <if test="type == 't'.toString()">
                        TITLE LIKE CONCAT('%', #{keyword} , '%')
                    </if>
                    <if test="type == 'w'.toString()">
                        WRITER LIKE CONCAT('%', #{keyword} , '%')
                    </if>
                </foreach>
            </if>

            <if test="finished">
                <trim prefix="and">
                    finished = 1
                </trim>
            </if>

            <if test="from != null and to != null">
                <trim prefix="and">
                    dueDate between #{from} and #{to}
                </trim>
            </if>
        </where>
    </sql>
</mapper>